.blog-post {
	margin-left: 350px;
	margin-right: 20px;
	padding-top: 20px;
  width: 60%;
  font-family: sans-serif;
}

.blog-post iframe {
  min-height: 500px;
}

.blog-post img {
  max-width: 100%;
}
